@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body, html {
    height: 100%;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("rise.jpg");
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.links {
    color: #E5E7EB;
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 8px;
    padding-left: 8px;
    display: flex;
    gap: 16px;
    justify-self: flex-end;
}
p {
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    margin-bottom: 32px;
}

.card.hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

img {
    border-radius: 10px 10px 10px 10px;
}

h1 {
    font-size: 48px;
    font-style: bold;
}

h2 {
    text-align: center;
    font-size: 36px;
}

main {
    display: flex;
    justify-content: space-evenly
}

.quote-section {
    background-color: #E5E7EB;
    padding: 100px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.thor {
    color: #1F2937;
    align-self: flex-end;
    font-weight: 700;
    font-size: 36px;
    margin-right: 10px;
}

.call-to-action {
    padding: 100px;
}

.coa-card {
    background-color: #3882F6;
    display: flex;
    color: white;
    padding: 50px;
    border-radius: 12px;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.bold-text {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.text {
    margin-top: 5px;
    padding: 0;
    vertical-align: baseline;
    align-self: center;
}

button {
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 125px;
}

.button2 {
    margin-top: 12px;

}

footer{
    text-align: center;
    padding: 30px;
    background-color: #1F2937;
    color: white;
}